/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #4C5454;
    margin: 0;
    padding: 0;
}

main.content {
    text-align: center;
    color: #f8f8f8;
}